.message {
  display: "flex";
  max-width: 75%;
  margin: 15px auto;
  position: relative;
  height: 250px;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
}

.item {
  /* need to position the text in the middle? */
  margin: 25px auto !important;
  text-align: center;
}

@media (max-height: 720px) {
  .message {
    display: "flex";
    max-width: 75%;
    margin: 10px auto;
    position: relative;
    height: 200px;
    overflow: hidden;
    padding: 20px;
  }
  .item {
    /* need to position the text in the middle? */
    margin: 15px auto !important;
    text-align: center;
  }
}
