#welcome {
  margin: 10px auto;
}

.preview {
  margin: 20px 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action {
  height: 20px;
}

.info {
  padding: 0;
  margin-left: 80% !important;
}

.content {
  padding-top: 0 !important;
}
