.profile{
    border-radius: 1px;
    top: 45px;
    left: 10%;
    background-color: "primary";

}

.Slogan{
    padding-left: 100px;
    text-align: center;
}

.SortChoices{
    width: 20%;
    margin-right: 40px;
}

.sort_icon{
    
    height: 30px;
    width: 100px;
}

.Total{
    width: 100%;
    margin: 20px;
}

.container{
    width: 100%;
}